<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # ⚡️ Handle SPA (Vue Router)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
